*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(219, 218, 240);
  background: linear-gradient(
    90deg,
    rgba(219, 218, 240, 1) 0%,
    rgba(143, 215, 131, 1) 27%,
    rgba(52, 168, 233, 1) 57%,
    rgba(95, 201, 228, 1) 84%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  font-size: 1.1rem;
}
