.NewTodoForm{
    padding: 10px 15px;
    color: rgb(247, 73, 73);
    
}

.NewTodoForm input[type="text"]{
    width: 70%;
    border: none;
    padding: 10px 5px;
    margin-right: 2%;
    height: 100%;
    
    border-radius: 2%;
    font-size: 1em;
}

.NewTodoForm button{
    width: 28%;
    border-radius: 2%;
    border: none;
    padding: 10px 5px;
    background-color: #ff8686;
    color: white;
    font-size: 1em;
}
.NewTodoForm button:hover{
    background-color: #ff9191;
}