.TodoList{
    margin: 4rem auto;
    padding: 3% 2.5%;
    width: 45%;
    background: #ff6666;
    color: #fff;
    box-shadow: -20px -20px 0px 0px rgba(100,100,100,0.1)
}

.TodoList-header{
    text-align: center;
    font-size: 3em;
}