.Todo{
    background-color: #fd8484;
    margin: 10px 0px;
    padding: 5px 3px;
}

.Todo-task-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Todo-action{
    width: 30%;
}
.Todo-action button{
    border: none;
    margin: none;
    height: 100%;
    width: 30%;
    margin: 0 7%;
    color: white;
    background-color: #fd8484;
}

.Todo-action button:hover{
    background-color: #fc9191;
}

.Todo-task{
    width: 70%;
    font-size: 0.6em;
}

.Todo-edit input[type="text"]{
    width: 70%;
    border: none;
    padding: 10px 5px;
    margin-right: 2%;
    height: 100%;
    
    border-radius: 2%;
    font-size: 1em;
}

.Todo-edit button{
    width: 28%;
    border-radius: 2%;
    border: none;
    padding: 10px 5px;
    background-color: #ff8686;
    color: white;
    font-size: 1em;
}
.Todo-edit button:hover{
    background-color: #ff9191;
}

.Todo-completed{
    color: lightgrey;
    text-decoration: line-through;
}